@font-face{
  font-family: 'Super-Mario-World-Font';
  src: url(./fonts/Super-Mario-World.ttf) format("truetype");
}

*{
  font-family: Super-Mario-World-Font;
  font-style: normal;
}

.App {
  /* display: flex; */
  text-align: center;
  background-color: rgb(97, 251, 128);
  /* margin: 20px; */
  padding: 50px;
  height: 900px;
}

.App h1{
  font-size: 100px;
  color: red;
}

.Sinopse {
  background-color: rgb(103, 103, 103);
  text-align: justify;
  /* margin: 20px; */
  padding: 30px;
  /* height: 500px; */
  /* width: 500px; */
  border-radius: 10px;
  font-size: 20px;
  /* font-style: italic; */
  text-indent: 1cm;
  /* color: blue; */
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
}

.Sinopse div{
  margin: 20px;
}

.imagem {
  text-align: center;
}

.Sinopse img{
  /* width: 700px;
  height: 200px; */
  block-size: 300px;
  border-radius: 10px;
}